*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Navbar */

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}

.logo{
    height: 40px;
    align-items: left;
    margin-left: 10px;
    justify-content: space-between;
}

.nav_links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav_links li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.common_btn{
    background-color: #4C5FFA;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

header{
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}

/* Hero */

.hero_parent_root{
    position: relative;
    min-height: 90vh;
    padding: 100px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_bg_img{
    object-fit: cover;
    z-index: -2;
}


.hero_bg_img, .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero_bg_img{
    object-fit: cover;
    z-index: -2;
}

.overlayer{
    background: rgba(0,0,0,0.6);
    z-index: -1;
}



.hero_parent{
    text-align: center;
    color: white;
}

.hero_parent h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.italic{
    font-style: italic;
    font-weight: 800;
}

.hero_parent p{
    max-width: 650px;
    margin: 0 auto 300px auto;
    font-size: 16px;
    color: #fafafa;
    line-height: 1.6;
}

.hero_parent .common_btn{
    margin-top: 5px;
    padding: 16px 32px;
    font-size: 18px;
}


/* Speakers */

.speakers_parent{
    text-align: center;
    margin: 80px auto;
}

.speakers_parent h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.speakers_card_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.speaker_card{
    text-align: left;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
}

.speaker_card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.speaker_tag{
    color: #4C5FFA;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0 5px 20px;
}

.speaker_card h3{
    font-size: 18px;
    margin: 0 0 5px 20px;
}

.speaker_role{
    font-size: 14px;
    color: #777;
    margin: 0 0 15px 20px;
}